#------------------------------------------------------------------------------
# SPEC CPU2017 config for gcc/g++/gfortran on Linux (Little-Endian) / IBM POWER
#------------------------------------------------------------------------------
#
# Usage: (1) Copy this to a new name
#             cd $SPEC/config
#             cp Example-x.cfg myname.cfg
#        (2) Change items that are marked 'EDIT' (search for it)
# 
# SPEC tested this config file with:
#    Compiler version(s):    GCC 6.1
#    Operating system(s):    RHEL 7.2 on PowerPC64 Little-Endian 
#    Hardware:               POWER8
#
# Note that this config file supports only 64-bit compiles.
#
# If your system differs, this config file might not work.
# You might find a better config file at http://www.spec.org/cpu2017/results
#
# Known Limitations 
#     It is possible that you might encounter compile time or run time errors 
#     with older versions of GCC (for example, 4.x)
#     Recommendation: Use a newer version of the compiler.
#                     If that is not possible, try reducing the optimization. 
#
# This config file is intended only for 64-bit compilation.
#
# Compiler issues: Contact your compiler vendor, not SPEC.
# For SPEC help:   http://www.spec.org/cpu2017/Docs/techsupport.html
#------------------------------------------------------------------------------

strict_rundir_verify = 0

#--------- Label --------------------------------------------------------------
# Arbitrary string to tag binaries 
#                  Two Suggestions: # (1) EDIT this label as you try new ideas.
%define label chopstix              # (2)      Use a label meaningful to *you*.


#--------- Preprocessor -------------------------------------------------------
%ifndef %{build_ncpus}         # EDIT to adjust number of simultaneous compiles.
%   define  build_ncpus 40     #      Or, you can set it on the command line: 
%endif                         #      'runcpu --define build_ncpus=nn'

# Don't change this part.
%define    model        -m64   
%ifdef %{bits}
%   if %{bits} == 64
%      info .
%      info Note: For this config file, you do not need '--define bits' 
%      info .     because PowerPC64 Little-Endian ABI is always 64-bit.
%      info .
%   else
%      error This config file always uses 64 bits.  Please remove your setting for 'bits'.
%   endif
%endif


#--------- Global Settings ----------------------------------------------------
# For info, see:
#            https://www.spec.org/cpu2017/Docs/config.html#fieldname   
#   Example: https://www.spec.org/cpu2017/Docs/config.html#tune        

command_add_redirect = 0
flagsurl             = $[top]/config/flags/gcc.xml
ignore_errors        = 0
iterations           = 5
label                = %{label}
line_width           = 3000
log_line_width       = 3000
makeflags            = --jobs=%{build_ncpus}
mean_anyway          = 1
output_format        = txt
output_root          = @@SPEC_CHOP_TEMPROOT@@
preenv               = 1
reportable           = 0     
tune                 = base
deletework           = 0
monitor_wrapper      = setarch linux64 -R \$SPEC_CHOP_WRAPPER $command;

#--------- How Many CPUs? -----------------------------------------------------
# Both SPECrate and SPECspeed can test multiple chips / cores / hw threads
#    - For SPECrate,  you set the number of copies.
#    - For SPECspeed, you set the number of threads. 
# See: https://www.spec.org/cpu2017/Docs/system-requirements.html#MultipleCPUs
#
#    q. How many should I set?  
#    a. Unknown, you will have to try it and see!
#
# To get you started, some suggestions:
#
#     copies - This config file defaults to testing only 1 copy.   You might
#              try changing it to match the number of cores on your system, 
#              or perhaps the number of virtual CPUs as reported by:
#                     grep -c processor /proc/cpuinfo
#              Be sure you have enough memory.  See:
#              https://www.spec.org/cpu2017/Docs/system-requirements.html#memory
#
#     threads - This config file sets a starting point.  You could try raising 
#               it.  A higher thread count is much more likely to be useful for
#               fpspeed than for intspeed.
#
intrate,fprate:
   copies           = 1   # EDIT to change number of copies (see above)
intspeed,fpspeed:
   threads          = 1   # EDIT to change number of OpenMP threads (see above)


#------- Compilers ------------------------------------------------------------
default:
#                    EDIT: the directory where your compiler is installed
%ifndef %{gcc_dir}
%   define  gcc_dir       /opt/at11.0/
#%   define  gcc_dir       /usr/
%endif

# EDIT if needed: the preENV line adds library directories to the runtime
#      path.  You can adjust it, or add lines for other environment variables. 
#      See: https://www.spec.org/cpu2017/Docs/config.html#preenv
#      and: https://gcc.gnu.org/onlinedocs/gcc/Environment-Variables.html
   #preENV_LD_LIBRARY_PATH = %{gcc_dir}/lib64/:/lib64
   #preENV_LD_LIBRARY_PATH = %{gcc_dir}/lib64/:/lib64:%{ENV_LD_LIBRARY_PATH}
   LIBS                    = -L%{gcc_dir}/lib64 -Wl,-rpath,%{gcc_dir}/lib64
   SPECLANG                = %{gcc_dir}/bin/
   CC                      = $(SPECLANG)gcc     -std=c99  %{model}
   CXX                     = $(SPECLANG)g++               %{model}
   FC                      = $(SPECLANG)gfortran -fno-backtrace %{model}
   # How to say "Show me your version, please"
   CC_VERSION_OPTION       = -v
   CXX_VERSION_OPTION      = -v
   FC_VERSION_OPTION       = -v

default:
   sw_base_ptrsize = 64-bit
   sw_peak_ptrsize = 64-bit


#--------- Portability --------------------------------------------------------
default:               # data model applies to all benchmarks
EXTRA_PORTABILITY = -DSPEC_LP64

500.perlbench_r,600.perlbench_s:
   PORTABILITY = -DSPEC_LINUX_PPC_LE

521.wrf_r,621.wrf_s:
   CPORTABILITY = -DSPEC_CASE_FLAG
   FPORTABILITY = -fconvert=big-endian

523.xalancbmk_r,623.xalancbmk_s:
   PORTABILITY = -DSPEC_LINUX

526.blender_r:
   PORTABILITY = -DSPEC_LINUX -funsigned-char

527.cam4_r,627.cam4_s:
   PORTABILITY = -DSPEC_CASE_FLAG

628.pop2_s:
   CPORTABILITY = -DSPEC_CASE_FLAG
   FPORTABILITY = -fconvert=big-endian


#-------- Tuning Flags common to Base and Peak --------------------------------

#
# Speed (OpenMP and Autopar allowed)
#
intspeed,fpspeed:
   EXTRA_OPTIMIZE    = -fopenmp -DSPEC_OPENMP
fpspeed:
   #
   # 627.cam4 needs a big stack; the preENV will apply it to all 
   # benchmarks in the set, as required by the rules.  
   #
   preENV_OMP_STACKSIZE = 192M


#--------  Baseline Tuning Flags ----------------------------------------------
#
default=base:         # flags for all base 
     OPTIMIZE    = -O3 -mcpu=power9 -mtune=power9 -fpeel-loops -funroll-loops
#    OPTIMIZE    = -O3 -fpeel-loops -funroll-loops

intrate,intspeed=base: # flags for integer base
   EXTRA_COPTIMIZE   = -fno-strict-aliasing -fgnu89-inline
# Notes about the above
#  - 500.perlbench_r/600.perlbench_s needs -fno-strict-aliasing.
#  - 502.gcc_r/602.gcc_s             needs -fgnu89-inline or -z muldefs
#  - For 'base', all benchmarks in a set must use the same options.   
#  - Therefore, all base benchmarks get the above.  See:
#       www.spec.org/cpu2017/Docs/runrules.html#BaseFlags  
#       www.spec.org/cpu2017/Docs/benchmarks/500.perlbench_r.html
#       www.spec.org/cpu2017/Docs/benchmarks/502.gcc_r.html


#--------  Peak Tuning Flags ----------------------------------------------
default=peak:
    OPTIMIZE    = -O3 -mcpu=power9 -mtune=power9 -fpeel-loops -funroll-loops
#   OPTIMIZE    = -O3 -fpeel-loops -funroll-loops

# In peak, we can be more selective about applying flags only where
# they are needed.

500.perlbench_r,600.perlbench_s=peak:
   # Only perlbench needs -fno-strict-aliasing.
   # -fsigned-zeros may be needed when -Ofast or -ffast-math optimization flags are used.
   EXTRA_OPTIMIZE    = -fsigned-zeros -fno-strict-aliasing

502.gcc_r,602.gcc_s=peak:
   EXTRA_COPTIMIZE   = -fgnu89-inline



#------------------------------------------------------------------------------
# Tester and System Descriptions - EDIT all sections below this point              
#------------------------------------------------------------------------------
#   For info about any field, see
#             https://www.spec.org/cpu2017/Docs/config.html#fieldname 
#   Example:  https://www.spec.org/cpu2017/Docs/config.html#hw_memory  
#-------------------------------------------------------------------------------

#--------- EDIT to match your version -----------------------------------------
default:
   sw_compiler001   = C/C++/Fortran: gcc version 7.2.1 20170814
   sw_compiler002   = Advance-Toolchain-at11.0
   sw_compiler003   = IBM AT 11 branch, based on subversion id 251096 
   sw_compiler004   = based on GNU Compiler Collection

#--------- EDIT info about you ------------------------------------------------
# To understand the difference between hw_vendor/sponsor/tester, see:
#     https://www.spec.org/cpu2017/Docs/config.html#test_sponsor
intrate,intspeed,fprate,fpspeed: # Important: keep this line
   hw_vendor          = IBM Corporation 
   tester             = IBM Research
   test_sponsor       = IBM STG
   license_num        = nnn                                # (Your SPEC license number) 
   prepared_by        = Ramon Bertran                      # Whatever you like: is never output


#--------- EDIT system availability dates -------------------------------------
intrate,intspeed,fprate,fpspeed: # Important: keep this line
                        # Example                             # Brief info about field
   hw_avail           = 2017                                  # Date of LAST hardware component to ship
   sw_avail           = 2017                                 # Date of LAST software component to ship

#--------- EDIT system information --------------------------------------------
intrate,intspeed,fprate,fpspeed: # Important: keep this line
                        # Example                             # Brief info about field
   hw_cpu_name        = POWER9 2.1 (pvr 004e 1201)            # chip name
   hw_cpu_nominal_mhz = 2983                                  # Nominal chip frequency, in MHz
   hw_cpu_max_mhz     = 3800                                  # Max chip frequency, in MHz
 # hw_disk            = # 9 x 9 TB SATA III 9999 RPM          # Size, type, other perf-relevant info
   hw_model           = 8335-GTC (ibm,witherspoon)            # system model name
 # hw_nchips          = # 99                                  # number chips enabled
 # hw_ncores          = 40                                    # number cores enabled
 # hw_ncpuorder       = 2                                     # Ordering options
 # hw_nthreadspercore = 4                                     # number threads enabled per core
 # hw_other           = None                                  # Other perf-relevant hw, or "None"

#  hw_memory001       = # 999 GB (99 x 9 GB 2Rx4 PC4-2133P-R, # The 'PCn-etc' is from the JEDEC 
#  hw_memory002       = # running at 1600 MHz)                # label on the DIMM.

   hw_pcache          = # 99 KB I + 99 KB D on chip per core  # Primary cache size, type, location
   hw_scache          = # 99 KB I+D on chip per 9 cores       # Second cache or "None"
   hw_tcache          = # 9 MB I+D on chip per chip           # Third  cache or "None"
   hw_ocache          = # 9 GB I+D off chip per system board  # Other cache or "None"

   fw_bios            = # American Megatrends 39030100 02/29/2016 # Firmware information
 # sw_file            = # ext99                               # File system
   sw_os001           = Red Hat Enterprise Linux Server       # Operating system
   sw_os002           = release 7.5 (Maipo)                   # and version
   sw_os003           = Linux 4.14.0-49.11.1.el7a.ppc64le ppc64le
   sw_other           = # TurboHeap Library V8.1              # Other perf-relevant sw, or "None"
 # sw_state           = # Run level 99                        # Software state.

# Note: Some commented-out fields above are automatically set to preliminary 
# values by sysinfo
#       https://www.spec.org/cpu2017/Docs/config.html#sysinfo
# Uncomment lines for which you already know a better answer than sysinfo 

